
/* Your CSS Code here. */
div{
	width:200px;
	background-color: rgb(128, 0, 128);
	padding: 10px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: green;
}
heading{
	font-size: 20px;
	color: white;
	text-decoration: underline;
}